.landing{
    background-color: var(--main-dark);
    display: flex;
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.landing__text{
    background-color: var(--main-clear);
    width: 59.59%;
}

.landing__image img{
    width: 67rem;
}

.centro h2{
    font-size: 10rem;
    color: var(--main-dark);
    font-weight: 100;
    margin-top: 3rem;
    margin-left: 1rem;
}

.medico h2{
    font-size: 15rem;
    color: var(--main-violet);
    font-weight: 300;
    margin-top: -5rem;
    margin-left: 1rem;
}

.estetico h2{
    font-size: 14rem;
    color: var(--main-medium);
    font-weight: 300;
    margin-top: -6rem;
    margin-left: 1rem;
}

.sb h2{
    font-size: 30rem;
    color: var(--main-dark);
    font-weight: 100;
    margin-top: -8rem;
    margin-left: 1rem;
}

.landing__image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40%;
}

.landing__image button{
    width: 500px;
    font-size: 4rem;
    padding: 2rem;
    border-radius: 15px;
    background-color: var(--main-clear);
    margin-top: 5rem;
    color: var(--main-dark);
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: var(--main-dark);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 2000ms cubic-bezier(0.19, 1, 0.22, 1);
}

.landing__image button:hover{
border: 0px solid ;
box-shadow: inset 0 0 50px var(--main-medium), 0 0 150px var(--main-clear);
outline-color: rgba(160, 0, 0, 0);
outline-offset: 25px;
text-shadow: 1px 1px 2px black;
}


@media(min-width:300px) and (max-width:1919px){


    .landing{
        flex-direction: column;
    }

    .landing__text{
        width: 100%;
        background-color: var(--main-clear);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        height: 20%;
    }

    .centro h2{
        font-size: 3rem;
        margin: 0;
        color: var(--main-dark);
        font-weight: 200;
    }
    .medico h2{
        font-size: 3rem;
        margin: 0;
        color: var(--main-dark);
        font-weight: 300;
    }

    .estetico h2{
        font-size: 3rem;
        margin: 0;
        color: var(--main-dark);
        font-weight: 200;
    }

    .sb h2{
        font-size: 3rem;
        margin: 0;
        color:var(--main-dark);
        font-weight: 200;
    }

    .landing__image img{
        width: 130%;
    }
    
    .landing__image button{
        width: 50%;
        font-size: 25px;
        align-self: center;
    }

    .landing__image{
        width: 100%;
        height: 80%;
    }

}