.promo__wrapper{
    border: 6px solid var(--main-medium);
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1% 2%;
    margin-bottom: 4%;
}

.promo__wrapper img{
    height: 15rem;
}

.promo__text{
    display: flex;
    flex-direction: column;
    padding-left: 4%;
}

.promo__titulo{
    color: var(--main-dark);
    font-weight: 100;
    font-size: 3rem;
    margin: 0%;
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

.promo__text a{
    align-self: flex-end;
    margin-top: 5%;
    padding: 0.5%;
    color: var(--main-clear);
    background-color: var(--main-medium);
}

.promo__text a:hover{
    background-color: var(--main-dark);
}


@media (min-width:374px) and (max-width:1000px){

    .promo__wrapper{
        flex-direction: column;
        padding: 5%;
        width: 95%;
    }

    .promo__text{
        font-size: 25px;
        padding: 0;
    }

    .promo__wrapper img{
        width: 100%;
        height: auto;
    }
    .promo__text a{
        text-align: center;
        color: var(--main-dark);
        border: 2px solid var(--main-dark);
    }

    .promo__text a:hover{
        background-color: var(--main-dark);
        color: var(--main-clear);
    }
}