.staffCard{
display: flex;
flex-wrap: nowrap;
margin: 2% 5% 5%;
border-radius: 3rem;
padding: 2%;
background-color: white;
min-width: 90%;
min-height: 25rem;
align-items: center;
justify-content: center;
border-bottom: var(--main-dark) 10px solid;
}

.avatar{
    height: 30rem;
    margin-bottom: -2.3%;
    border-bottom-left-radius: 10%;
    align-self: flex-end;
}

.logoo{
    height: 10rem;
    align-self: flex-end;
}

.staffText{
    width: 70%;
    font-size: 1.1rem;
    padding: 2%

}

.staffText h2{
    font-size: 3rem;
    color: var(--main-dark);
    text-shadow: 2px 3px #9BA3CC;
}

@media (min-width:374px) and (max-width:1000px){
    .staffCard{
        flex-direction: column;
        margin: 0;
        min-width: 96%;
        border-radius: 100px;
        margin-bottom: 5%;
    }

    .staffText h2{
        font-size: 3rem;
        text-align: center;
    }

    .staffText{
        font-size: 25px;
        width: 90%;
    }
    .avatar{
        height: auto;
        width: 100%;
    }

    .logoo{
        height: 15rem;
        align-self: center;
        margin: -10%;
    }
}