.treatment__text {
    color: rgb(255, 255, 255);
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 5%;
    font-size: 2rem;
    max-height: 60%;
    font-weight: 400;
    text-align: center;
    -webkit-animation: fade-in-right 2s 2s backwards;
    animation: fade-in-right 3s 2s backwards;
    background: linear-gradient(0deg, rgba(0, 101, 119, 0.284) 5%, rgba(0, 0, 0, 0.343) 50%, rgba(0, 0, 0, 0.264) 50%, rgba(0, 101, 119, 0.343) 96%);
    padding: 5% 3%;
    border: 5px solid rgba(128, 128, 128, 0.144);
}

.treatment__text h1 {
    font-size: 4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.treatment__text p{
    font-size: 1.5rem;
}

.treatment__text a{
    color: white;
    padding: 1%;
    border-radius: 20px;
    text-decoration: none;
}


@media (min-width:374px) and (max-width:1000px){
    .treatment__text{
        border: none;
        min-height: 30%;
        max-height: 60%;
        line-height: 22px;
    }

    .treatment__text h1{
        font-size: 1.5rem;
    }

    .treatment__text p{
        font-size: 0.8rem;
    }

    .treatment__text a{
        font-size: 1.3rem;
        color: var(--main-dark);
        background-color: rgb(255, 255, 255);
        border: 2px solid var(--main-dark);
        padding: 0.1rem;
        border-radius: 10px;
    }

}
