.treatment__detail{
    display: flex;
    margin: 5%;

}
.treatment__detail img{
height: 30rem;
}

.treatment__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
}