.treatmentWrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.treatmentCard{
    width: 100%;
    height: 30rem;
    display: flex;
    background-color: #91bfcc00;
}

.title{
    margin: 2% 0 0 0;
    font-family: sans-serif;
    font-size: 7rem;
    font-weight: 100;
    text-align: middle;
    color: #806041;
    text-shadow: rgba(0, 0, 0, 0.297) 1px 2px 2px;
}

.treatment__links a{
    color: white;
    text-decoration: none;
    background-color: var(--main-dark);
    padding: 0.3rem;
    font-size: 1.5rem;
    border: 1px solid rgb(43, 42, 42);
    box-shadow: 2px 2px 2px rgb(19, 17, 17);
    min-width: 30%;
    max-width: 50%;
    height: fit-content;
    border-radius: 10px;
    z-index: 2;
    margin: 2%;
}

.treatment__links a:hover{
    background-color: #539eac85;
    color: var(--main-dark);

}

.treatment__links{
    display: flex;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    font-size: 1.5rem;
    justify-content: center;
}

.treatment__links h2{
    width: 100%;
}

.treatmentCard1{
    width: 100%;
    height: 40rem;
    background-color: #91bfcc;
    display: flex;
    flex-direction: row-reverse;
}

.treatment__images{
    z-index: -1;
}

.treatmentImage{
height: 100%;
min-width: 20rem;
z-index: -1;
}

@media (min-width:374px) and (max-width:1000px){
    .title{
        font-size: 80px;
        margin-bottom: 5%;
    }
    .titulo{
        text-align: center;
    }
    .treatmentImage{
        width: 100%;
        height: auto;
        min-width: 100%;
    }

    .treatmentCard{
        min-height: 20rem;
        height: auto;
        max-height: 100rem;
        flex-direction: column;
        padding-bottom: 5%;
    }

    .treatmentCard1{
        max-height: 100rem;
        min-height: auto;
        height: auto;
        flex-direction: column;
        padding-bottom: 5%;
    }

    .treatment__links{

    }
    .treatment__links a{
        min-width: 45%;
        max-width: 100%;
        font-size: 20px;
    }

    .treatment__links {

    }
}